<div class="container">
    <div  class="main-container">
      <mat-chip-list aria-label="labels"></mat-chip-list>
  
      <div class="grid-container">
        <mat-chip class="chip1" selected>Abierto</mat-chip>
        <div *ngFor="let cita of abierta" class="column">
          <mat-card *ngIf="cita.estado === 'Abierta'" class="card open" (click)="editarCita(cita)">
            <div>
              <h3 class="title">{{cita.idCita}}</h3> <!--definir bien el titulo-->
              <p  >{{cita.hora}}</p>
              <!--<p>{{nombreMedico}}</p>-->
            </div>
          </mat-card>
        </div>
      </div>
  
      <div class="grid-container"> 
        <mat-chip class="chip2" selected>Asignada</mat-chip>
        <div *ngFor="let cita of asignada" class="column">
          <mat-card *ngIf="cita.estado === 'Asignada'" class="card asign" (click)="editarCita(cita)">
            <div>
              <h3 class="title">{{cita.idCita}}</h3> <!--definir bien el titulo-->
              <p  >{{cita.hora}}</p>
              <!--<p>{{nombreMedico}}</p>-->
            </div>
          </mat-card>
        </div>
      </div>
  
      <div class="grid-container">
        <mat-chip class="chip3" selected>Cerrada</mat-chip>
        <div *ngFor="let cita of cerrada" class="column">
          <mat-card *ngIf="cita.estado === 'Cerrada'" class="card closed">
            <div>
              <h3 class="title">{{cita.idCita}}</h3> <!--definir bien el titulo-->
              <p>{{cita.hora}}</p>
              <!--<p>{{nombreMedico}}</p>-->
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>