
<mat-card>
  <mat-card-header>
    <mat-card-title>Inicio Sesión</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="formulario" (ngSubmit)="ValidarLogin()">
      {{mensaje}}
      <mat-form-field appearance="fill">
        <mat-label>RUT</mat-label>
        <input matInput type="text" formControlName="rut">
        <mat-icon matSuffix>person_outline</mat-icon>
        <mat-hint>ejemplo: 12345678-9</mat-hint>
      </mat-form-field>
      <div *ngIf="formulario.get('rut').hasError('pattern')" class="alert alert-danger" role="alert">
        Formato RUT no es correcto
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <ngx-recaptcha2 #captchaElem
        [siteKey]="siteKey"
        formControlName="recaptcha">
      </ngx-recaptcha2>
      <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">Iniciar Sesión</button>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <h4>¿No tienes cuenta?  <a href="/registro">Registrate aquí</a></h4>
  </mat-card-actions>
</mat-card>