<div class="container">
    <div  class="main-container">

      <div class="filtros">
        <mat-label>Paciente</mat-label>
        <mat-select (selectionChange)="setPac($event.value)">
          <mat-option>todos</mat-option> 
            <mat-option *ngFor="let paciente of pacientes" [value]="paciente.idUsuario">
            {{paciente.nombre}} {{paciente.apellido}}
            </mat-option>
        </mat-select>

        <mat-label>Medico</mat-label>
        <mat-select (selectionChange)="setMed($event.value)">
          <mat-option>todos</mat-option> 
            <mat-option *ngFor="let medico of medicos" [value]="medico.idMedico">
            {{medico.nombre}} {{medico.apellido}}
            </mat-option>
        </mat-select>

        <mat-label>Estado</mat-label>
        <mat-select (selectionChange)="setEst($event.value)">
          <mat-option>todos</mat-option> 
            <mat-option value="Abierta">
              abierta
            </mat-option>
            <mat-option value="Asignada">
              asignada
            </mat-option>
            <mat-option value="Cerrada">
              cerrada
            </mat-option>
        </mat-select>
        <p class="button-container field">
          <button (click)="appFiltro()" mat-raised-button class="button">Aplicar Filtros</button></p>
      </div>

      <mat-chip-list aria-label="labels"></mat-chip-list>
  
      <div class="grid-container">
        <mat-chip class="chip1" selected>Abierta</mat-chip>
        <div *ngFor="let cita of abierta"  class="column">
          <mat-card *ngIf="cita.estado === 'Abierta'" class="card open" (click)="editarCita(cita.idCita)">
            <div>
              <h3 class="title">N ° de cita:  {{cita.idCita}}</h3> <!--definir bien el titulo-->
              <p >Fecha: {{cita.fecha | date:'dd-MM-yyyy' }}</p>
              <p >Hora: {{cita.hora}}</p>
              <p> Nombre Medico: {{cita.medico}}</p>
              <p> Nombre Paciente: {{cita.usuario}}</p>
            </div>
          </mat-card>
        </div>
      </div>
  
      <div class="grid-container"> 
        <mat-chip class="chip2" selected>Asignada</mat-chip>
        <div *ngFor="let cita of asignada" class="column">
          <mat-card *ngIf="cita.estado === 'Asignada'" class="card asign" (click)="editarCita(cita.idCita)">
            <div>
              <h3 class="title">N ° de cita: {{cita.idCita}}</h3>
              <p >Fecha: {{cita.fecha | date:'dd-MM-yyyy' }}</p>
              <p >Hora: {{cita.hora}}</p>
              <p> Nombre Medico: {{cita.medico}}</p>
              <p> Nombre Paciente: {{cita.usuario}}</p>
            </div>
          </mat-card>
        </div>
      </div>
  
      <div class="grid-container">
        <mat-chip class="chip3" selected>Cerrada</mat-chip>
        <div *ngFor="let cita of cerrada" class="column">
          <mat-card *ngIf="cita.estado === 'Cerrada'" class="card closed" (click)="editarCita(cita.idCita)">
            <div>
              <h3 class="title">N ° de cita: {{cita.idCita}}</h3>
              <p >Fecha: {{cita.fecha | date:'dd-MM-yyyy' }}</p>
              <p >Hora: {{cita.hora}}</p>
              <p> Nombre Medico: {{cita.medico}}</p>
              <p> Nombre Paciente: {{cita.usuario}}</p>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  
  
  