<div class="container">
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">  <!-- onSubmit crear funcion que valide campos-->
    <label class="labelForm">Reserva de Hora</label>
        <p>
        <mat-form-field appearance="outline">
        <mat-label>Motivo de su hora</mat-label>
        <textarea minlength="10" matInput placeholder="Describa aqui sus sintomas o derivaciones médicas (min 10 caracteres)" formControlName="descripcion" type="textarea" class="input"></textarea>
        </mat-form-field>
    </p>
         
    <p class="button-container field">
        <button type="submit" mat-raised-button class="button" [disabled]="!form.valid">Confirmar</button>
    </form>
</div>